<div class="editor-wrapper">
  <form (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
    <div class="top-nav">
      <button class="btn btn-cancel" [routerLink]="['/']">Cancel</button>
      <button class="btn btn-publish" type="submit" [disabled]="f.invalid || freeze">Publish</button>
    </div>
    <div class="post-image">
      <img class="tmp-image" *ngIf="model['image']" [src]="tmpImage">
      <label for="image" [class.hide]="model['image']">
        <input type="file" id="image" name="post-image" (change)="updatePostImage($event)" />
        <i class="icon ion-camera"></i>
      </label>
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="model['title']" name="title" class="form-control title" required placeholder="Title" #title="ngModel" [disabled]="freeze" />
    </div>
    <div class="form-group">
      <textarea [froalaEditor]="{placeholderText: 'Post content'}" [(froalaModel)]="model['body']" required></textarea>
    </div>
    <div class="form-group">
      <label for="draft">
        <input id="draft" type="checkbox" [(ngModel)]="model['draft']" name="draft" class="form-control" #draft="ngModel" [disabled]="freeze">Draft?</label>
    </div>
  </form>
</div>